body {
  background-color: #fff;
  margin: 0px;
}

h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0px;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

}

header {
  background-color: #00204a;
  height: 30px;
  height: 60px;
  border-radius: 10px;

}

.container {
  /* border: 1px solid red; */
  height: 88vh;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.expense-container {
  /* border: 0.2px solid green; */
  height: 95vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 0px;
}

.expense-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 60%;
  row-gap: 4%;
  margin-top: 0px;
  /* border: 1px solid red; */
  margin-left: 10%;
}

.data {
  height: 100%;
  font-size: x-large;
  border-radius: 10px;
  width: 80%;
  padding: 0px;
}

.add-button {
  text-align: center;

}

button {
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
  background-color: #4f9da6;
  height: 50px;
  color: #00204a;
}

.expense-table {
  margin-top: 0%;
  font-size: x-large;
  width: 40%;
  margin-left: 0%;

}

table,
.thead,
tr,
th {
  border: 2px solid #005792;
  border-collapse: collapse;
  width: 16.6%;
  word-break: break-all;


}

table {
  width: 100%;
  background-color: #fdb44b;
  height: 8%;
  border-radius: 10px;
  color: #00204a;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* css for responsiveness */
@media screen and (min-width:200px) and (max-width:1200px) {
  body {
    margin: 0px;
  }

  h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0px;
    padding-top: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: large;

  }

  header {
    background-color: #00204a;
    height: 30px;
    height: 60px;
    border-radius: 0px;

  }

  .expense-container {
    /* border: 3px solid green; */
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .expense-input {
    width: 80%;
  }

  .data {
    height: 100%;
    font-size: large;
    border-radius: 10px;
    width: 100%;
    padding: 0px;
  }

  .expense-table {
    margin-top: 10px;
    width: 100%;
    font-size: medium;
  }

  button {
    font-size: medium;
    width: 100%;

  }
}